body {
    text-align: center;
    background: #F1FAEE;
    font-family: 'Sintony', sans-serif;
}

#title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    background-image: url("images/satyaprakash-kumawat-ky1d-IWCBis-unsplash.jpg");
    height: 600px;
    width: auto;
    margin: 0px;   
    background-size: cover;
    padding-top: 40px;
    border-radius: 10px;
}

#plate {
    background: #A8DADC ;
    margin: 20px 10px 50px 10px;
    padding: 30px 20px 50px 20px;
}

#places {
    background-color: #E63946;
    margin: 20px;
    border-radius: 50px;
}

#card {
    display: flex;
    background-color: #457B9D;
    border-bottom: 20px solid #1D3557;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 45px 25px 45px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin: 30px 50px 0px 50px;
}

#pics {
    display: flex;
    justify-content: center;
}

#monish {
    width: 220px;
    height: 220px;
}

.place-box {
    background-color: #A8DADC;
    width: 260px;
    height: auto;
    margin: 25px;
    border-radius: 5px;
    font-size: large;
    padding: 5px 10px 10px 10px;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#place-head {
    padding-top: 20px;
    padding-bottom: 0px;
    color: #fff;
    font-weight: bolder;
    font-size: x-large;
}

h3 {
    color: #001D3D;
    font-size: larger;
    font-weight: bold;
}

p {
    color: #6A040F;
    font-size: medium;
    font-weight: bold;
}

.card-el {
    padding-left: 30px;
    padding-right: 10px;
}